*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root,
html[data-theme='light'] {
  --bgColor1: #ffffff;
  --bgColor2: #8599a8;
  --bgColor3: #495366;
  --bgColor4: #12151a;
  --bgSlideNav: rgba(18, 21, 26, 0.9);
  --textColor1: #ffffff;
  --textColor2: #8599a8;
  --textColor3: #485265;
  --textColor4: #12151a;
}

html[data-theme='dark'] {
  --bgColor1: #12151a;
  --bgColor2: #495366;
  --bgColor3: #8599a8;
  --bgColor4: #ffffff;
  --bgSlideNav: rgba(255, 255, 255, 0.9);
  --textColor1: #12151a;
  --textColor2: #485265;
  --textColor3: #8599a8;
  --textColor4: #ffffff;
}

body {
  background-color: var(--bgColor1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
